<div class="container">
    <header>
        <div class="jumbotron my-4 p-3">
            <h3>{{onerecipe.receta_nombre}}</h3>
        </div>
    </header>
    <div class="container p-4 rounded bg-white">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid rounded" src="{{onerecipe.receta_images.[0]}}" alt="">
            </div>
            <div class="col-md-8 pt-1">
                <div class="row">
                    <h4 class="col-11">{{onerecipe.receta_nombre}}</h4>
                    <a href="" class="col-1"><i class="fa fa-bookmark " aria-hidden="true"></i></a>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laboriosam atque sapiente illum vel
                    nam, suscipit molestiae quaerat porro animi sunt similique quia repellendus aliquid. Soluta esse
                    maiores delectus dolorum?</p>
                <ul>
                    {{#each onerecipe.receta_ingredientes}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div>
            <ul class="list-group rounded form-group" >
                <h4>¡Check your advance!</h4>
                {{#each onerecipe.receta_pasos}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="" id="{{@index}}" class="custom-control-input">
                        <label for="{{@index}}" class="custom-control-label">{{this}}</label>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>