<!-- Page Content -->
<div class="container mt-4">
    <div class="row">
        {{#each recipes}}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title ">
                        {{ receta_nombre }}
                        <a href="/notes/edit/{{_id}}" class="float-right"><i class="fas fa-edit"></i></a>
                    </h4>

                    <p><b>Type:</b></p>
                    <p>{{receta_tipo}}</p>

                    <p><b>Difficulty:</b></p>
                    <p>{{receta_dificultad}}</p>

                    <p><b>Time required:</b></p>
                    <p>{{receta_tiempo}}</p>

                    <p><b>Preview:</b></p>
                    <p>{{receta_preview}}</p>

                    <ul>
                        <p><b>Ingredients:</b></p> {{#each receta_ingredientes}} <li>{{this}}</li> {{/each}}
                    </ul>

                    <ul>
                        <p><b>Steps:</b></p> {{#each receta_pasos}} <li>{{this}}</li> {{/each}}
                    </ul>

                    <p><b>URL: </b></p>
                    <p>{{receta_images.[0]}}</p>


                    {{!-- <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST"> <input type="hidden" name="_method" value="DELETE"> <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button> </form> --}}

                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <!-- /.row -->

</div>